{% load static %}

<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->
  {% include 'shop_cite/head_element.html' %}
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  {% include 'shop_cite/header.html' %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">О компании
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>About Us</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          {% include 'shop_cite/features.html' %}
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Мы в соцсетях
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="Footer-payments Footer-payments_column">
                <div><img src="{% static 'shop_cite/assets/img/icons/socialContent/fb.png' %}" alt="fb.png"/>
                </div>
                <div><img src="{% static 'shop_cite/assets/img/icons/socialContent/tw.png' %}" alt="tw.png"/>
                </div>
                <div><img src="{% static 'shop_cite/assets/img/icons/socialContent/gg.png' %}" alt="gg.png"/>
                </div>
                <div><img src="{% static 'shop_cite/assets/img/icons/socialContent/in.png' %}" alt="in.png"/>
                </div>
                <div><img src="{% static 'shop_cite/assets/img/icons/socialContent/pt.png' %}" alt="pt.png"/>
                </div>
                <div><img src="{% static 'shop_cite/assets/img/icons/socialContent/ml.png' %}" alt="ml.png"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <article class="Article">
            <div class="Article-section">
              <div class="row row_verticalCenter row_maxHalf">
                <div class="row-block">
                  <h2>О нас
                  </h2>
                  <p>Мы работаем, активно развиваясь и расширяясь. Мы не забываем о том, что высочайший уровень обслуживания – показатель того, что мы работаем действительно качественно. Поэтому на нас можно положиться.
                  </p>
                  <p>Мы не привозим товары с других складов, потому что обладаем своим собственным. В чем плюс? Вы заказываете, мы – доставляем. Без задержек. Точно по времени.
                  </p>
                </div>
                <div class="row-block">
                  <div class="pict"><img src="{% static 'shop_cite/assets/img/content/about/about_1.png' %}" alt="about_1.png"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="Article-section">
              <div class="row row_verticalCenter row_maxHalf">
                <div class="row-block">
                  <div class="pict"><img src="{% static 'shop_cite/assets/img/content/about/about_2.png' %}" alt="about_2.png"/>
                  </div>
                </div>
                <div class="row-block">
                  <h2>Почему выбирают нас
                  </h2>
                  <p>Мы работаем и совершенствуемся для вас. Тщательно отбираем лучшие товары и помогаем сделать правильный выбор. У нас есть:
                  </p>
                  <ul>
                    <li>оперативная доставка заказов
                    </li>
                    <li>собственный сервисный центр
                    </li>
                    <li>квалифицированный и опытный персонал
                    </li>
                    <li>прямые контракты с ведущими производителями электроники и товаров для дома
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

 {% include 'shop_cite/footer.html' %}


  <!--+Middle-->
  <!--    +div.-top-->
  <!--        +breadcrumbs('Главная','Портфолио')-->
  <!--    +Article('portfolio')-->
  <!---->
  <script src="{% static 'shop_cite/assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/js/scripts.js' %}"></script>
</body></html>