{% load static %}

<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->
  {% include 'shop_cite/head_element.html' %}
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->

  {% include 'shop_cite/header.html' %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Личный кабинет
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Личный кабинет</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Навигация
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="/account">Личный кабинет</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="/profile">Профиль</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="/history">История заказов</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="historyview.html">История просмотра</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Account">
            <div class="Account-group">
              <div class="Account-column">
                <div class="Account-avatar"><img src="{% static 'shop_cite/assets/img/content/home/card.jpg' %}" alt="card.jpg"/>
                </div>
              </div>
              <div class="Account-column">
                <div class="Account-name">Иванов Иван Иванович
                </div><a class="Account-editLink" href="/profile">Редактировать профиль</a>
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <div class="Order Order_anons">
                  <div class="Order-personal">
                    <div class="row">
                      {% if last_order != None %}
                        <div class="row-block"><a class="Order-title" href="/order-details/{{last_order.id}}">Заказ&#32;<span class="Order-numberOrder">№{{last_order.id}}</span>&#32;от&#32;<span class="Order-dateOrder">{{last_order.purchase_date}}</span></a>
                        <div class="Account-editLink"><a href="/history">История заказов</a>
                        </div>
                      </div>
                        <div class="row-block">
                        <div class="Order-info Order-info_delivery">
                          <div class="Order-infoType">Тип доставки:
                          </div>
                          <div class="Order-infoContent">{{last_order.delivery_type}}
                          </div>
                        </div>
                        <div class="Order-info Order-info_pay">
                          <div class="Order-infoType">Оплата:
                          </div>
                          <div class="Order-infoContent">{{last_order.payment_method}}
                          </div>
                        </div>
                        <div class="Order-info">
                          <div class="Order-infoType">Общая стоимость:
                          </div>
                          <div class="Order-infoContent">{{last_order.total_sum}}
                          </div>
                        </div>
                        <div class="Order-info Order-info_status">
                          <div class="Order-infoType">Статус:
                          </div>
                          <div class="Order-infoContent">{{last_order.payment_state}}
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   {% include 'shop_cite/footer.html' %}

  <!--+Middle-->
  <!--    +div.-top-->
  <!--        +breadcrumbs('Главная','Портфолио')-->
  <!--    +Article('portfolio')-->
  <!---->
  <script src="{% static 'shop_cite/assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/js/scripts.js' %}"></script>
</body></html>