{% load static %}

<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->

{% include 'shop_cite/head_element.html' %}

<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  {% include 'shop_cite/header.html' %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Вход
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Вход</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-content">
          <div class="Profile">

            <form class="form Profile-form" action="#" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="row-block">
                  {% for field in form.visible_fields %}
                    <div class="form-group">
                      <label class="form-label" for="{{field.id_for_label}}">{{field.label}}
                      </label>
                      {% if field.data != None %}
                        <input class="form-input" required id="{{field.id_for_label}}" type="{{field.widget_type}}" name="{{field.name}}" value="{{field.data}}" data-validate="require"/>
                      {% else %}
                        <input class="form-input" required id="{{field.id_for_label}}" type="{{field.widget_type}}" name="{{field.name}}" value="" data-validate="require"/>
                      {% endif %}
                      {% for key, val in errors.items %}
                        {% if key == field.name %}
                          <div class="form-error">{{val}}</div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endfor %}

                  <div class="form-group">
                    <div class="Profile-btn">
                      <button class="btn btn_success" type="submit">Войти
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

 {% include 'shop_cite/footer.html' %}

  <!--+Middle-->
  <!--    +div.-top-->
  <!--        +breadcrumbs('Главная','Портфолио')-->
  <!--    +Article('portfolio')-->
  <!---->
  <script src="{% static 'shop_cite/assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/js/scripts.js' %}"></script>
</body></html>