{% load static %}
<!DOCTYPE html>
<html lang="en">

<div class="Section-columnSection Section-columnSection_mark">
  <div class="media media_advantage">
    <div class="media-image"><img src="{% static 'shop_cite/assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
    </div>
    <div class="media-content">
      <strong class="media-title">Доставка и возврат
      </strong>
      <p class="media-text">Широкая сеть доставки
      </p>
    </div>
  </div>
</div>
<div class="Section-columnSection Section-columnSection_mark">
  <div class="media media_advantage">
    <div class="media-image"><img src="{% static 'shop_cite/assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
    </div>
    <div class="media-content">
      <strong class="media-title">Возврат денег
      </strong>
      <p class="media-text">Гарантия оплаты
      </p>
    </div>
  </div>
</div>
<div class="Section-columnSection Section-columnSection_mark">
  <div class="media media_advantage">
    <div class="media-image"><img src="{% static 'shop_cite/assets/img/icons/advantages/support.svg' %}" alt="support.svg"/>
    </div>
    <div class="media-content">
      <strong class="media-title">Политика поддержки
      </strong>
      <p class="media-text">Оперативная служба подержки
      </p>
    </div>
  </div>
</div>
<div class="Section-columnSection Section-columnSection_mark">
  <div class="media media_advantage">
    <div class="media-image"><img src="{% static 'shop_cite/assets/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
    </div>
    <div class="media-content">
      <strong class="media-title">Гарантия качества
      </strong>
      <p class="media-text">Высококачественные товары
      </p>
    </div>
  </div>
</div>

