{% load static %}

<!DOCTYPE html>
<html lang="en">

  <footer class="Footer">
    <div class="wrap">
      <div class="row Footer-main">
        <div class="row-block"><a class="logo Footer-logo" href="/"><img class="logo-image" src="{% static 'shop_cite/assets/img/logo_footer.png' %}" alt="logo_footer.png"/></a>
          <p>Наша цель изменить жизнь людей, сделав простым доступ к огромному количеству качественных и недорогих товаров, предоставляя лучший сервис.
          </p>
          <ul class="menu menu_img menu_smallImg Footer-menuSoc">
            <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'shop_cite/assets/img/icons/socialFooter/fb.svg' %}" alt="fb.svg"/></a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'shop_cite/assets/img/icons/socialFooter/tw.svg' %}" alt="tw.svg"/></a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'shop_cite/assets/img/icons/socialFooter/in.svg' %}" alt="in.svg"/></a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'shop_cite/assets/img/icons/socialFooter/pt.svg' %}" alt="pt.svg"/></a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'shop_cite/assets/img/icons/socialFooter/mail.svg' %}" alt="mail.svg"/></a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Полезные страницы
          </strong>
          <ul class="menu menu_vt Footer-menu">
            <li class="menu-item"><a class="menu-link" href="/cart">Корзина</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Доставка</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Детали заказа</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Правила</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="/about">О компании</a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Категории
          </strong>
          <ul class="menu menu_vt Footer-menu">
            {% for key_one, value_one in categories_lvl_one.items %}
            <li class="menu-item"><a class="menu-link" href="#">{{key_one}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Контакты
          </strong>
          <p>Телефон: 8.800.200.600<br>Email: Support@ninzio.com<br>Skype: techno<br>Адрес: Россия, г. Тверь<br>ул. Зеленой слободы, 100<br>1700054
          </p>
        </div>
      </div>
    </div>
    <div class="Footer-copy">
      <div class="wrap">
        <div class="row row_space">
          <div class="row-block">
          </div>
          <div class="row-block"><span>Платёжные системы</span>
            <div class="Footer-payments">
              <div><img src="{% static 'shop_cite/assets/img/payments/visa.png' %}" alt="visa.png"/>
              </div>
              <div><img src="{% static 'shop_cite/assets/img/payments/mastercard.png' %}" alt="mastercard.png"/>
              </div>
              <div><img src="{% static 'shop_cite/assets/img/payments/paypal.png' %}" alt="paypal.png"/>
              </div>
              <div><img src="{% static 'shop_cite/assets/img/payments/american.png' %}" alt="american.png"/>
              </div>
              <div><img src="{% static 'shop_cite/assets/img/payments/electron.png' %}" alt="electron.png"/>
              </div>
              <div><img src="{% static 'shop_cite/assets/img/payments/maestro.png' %}" alt="maestro.png"/>
              </div>
              <div><img src="{% static 'shop_cite/assets/img/payments/delta.png' %}" alt="delta.png"/>
              </div>
              <div><img src="{% static 'shop_cite/assets/img/payments/e.png' %}" alt="e.png"/>
              </div>
              <div><img src="{% static 'shop_cite/assets/img/payments/dk.png' %}" alt="dk.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>