{% load static %}
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->

{% include 'shop_cite/head_element.html' %}

<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  {% include 'shop_cite/header.html' %}
  <div class="Middle">
    <div class="Section">
      <div class="wrap">
        <div class="BannersHome">
          {% for category in popular_categories %}
          <a class="BannersHomeBlock" href="/catalog-products/{{category.id}}">
            <div class="BannersHomeBlock-row">
              <div class="BannersHomeBlock-block">
                <strong class="BannersHomeBlock-title">{{category.name}}
                </strong>
                <div class="BannersHomeBlock-content">
                </div>
              </div>
              <div class="BannersHomeBlock-block">
                <div class="BannersHomeBlock-img"><img src="{% static 'shop_cite/' %}{{category.big_image_src}}" alt="cat.png"/>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnDesktop"  >
      <div class="wrap">
        <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">Популярные продукты
            </h2>
          </header>
          <div class="Cards">
            {% for product in popular_products %}
            <div class="Card">
              <a class="BannersHomeBlock-img" href="/product/{{product.id}}">
                <img src="{% static 'shop_cite/' %}{{product.main_image_src}}" alt="card.jpg"/>
              </a>
              <div class="Card-content">
                <strong class="Card-title"><a href="/product/{{product.id}}">{{product.name}}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">{{product.price|floatformat:0}} ₽</span>
                  </div>
                  <div class="Card-category">
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="{% static 'shop_cite/assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'shop_cite/assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Shipping & Returns
                </strong>
                <p class="media-text">World wide shipping
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'shop_cite/assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Money Back
                </strong>
                <p class="media-text">Guaranted payments
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'shop_cite/assets/img/icons/advantages/support.svg' %}" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Support Policy
                </strong>
                <p class="media-text">Fast support team
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'shop_cite/assets/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Quality Guarantee
                </strong>
                <p class="media-text">Best guaranted items
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header Section-header_close">
              <h2 class="Section-title">Ограниченная поставка
              </h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>
            <div class="Slider-box Cards">
              {% for product in limited_products %}
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="BannersHomeBlock-img" href="/product/{{product.id}}"><img src="{% static 'shop_cite/' %}{{product.main_image_src}}" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="/product/{{product.id}}">{{product.name}}</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-price">{{product.price|floatformat:0}} ₽</span>
                        </div>
                        <div class="Card-category">
                        </div>
                        <div class="Card-hover"><a class="Card-btn" href="/product/{{product.id}}"><img src="{% static 'shop_cite/assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 {% include 'shop_cite/footer.html' %}

  <!--+Middle-->
  <!--    +div.-top-->
  <!--        +breadcrumbs('Главная','Портфолио')-->
  <!--    +Article('portfolio')-->
  <!---->
  <script src="{% static 'shop_cite/assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/js/scripts.js' %}"></script>
</body></html>