{% load static %}

<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->

{% include 'shop_cite/head_element.html' %}

<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  {% include 'shop_cite/header.html' %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Прогресс заполнения
              </strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                {% if is_ok %}
                <li class="menu-item"><a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                {% else %}
                <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                {% endif %}
                </li>
                <li class="menu-item"><a class="menu-link" href="#step2">Шаг 2. Способ доставки</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a>
                </li>
                {% if is_ok %}
                <li class="menu-item"><a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                {% else %}
                <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <form class="form" action="#" method="post">
            {% csrf_token %}
            {% if is_ok %}
            <div class="Order-block" id="step1">
            {% else %}
            <div class="Order-block Order-block_OPEN" id="step1">
            {% endif %}
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 1. Параметры пользователя
                </h2>
              </header>
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="{{form.full_name.id_for_label}}">ФИО
                    </label>
                    {% if form.full_name.data != None %}
                    <input class="form-input" required id="{{form.full_name.id_for_label}}" type="{{form.full_name.widget_type}}" name="{{form.full_name.name}}" value="{{form.full_name.data}}"/>
                    {% else %}
                    <input class="form-input" required id="{{form.full_name.id_for_label}}" type="{{form.full_name.widget_type}}" name="{{form.full_name.name}}" value="{{form.full_name.initial}}"/>
                    {% endif %}
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="{{form.phone.id_for_label}}">Телефон
                    </label>
                    {% if form.phone.data != None %}
                    <input class="form-input" required id="{{form.phone.id_for_label}}" type="{{form.phone.widget_type}}" name="{{form.phone.name}}" value="{{form.phone.data}}"/>
                    {% else %}
                    <input class="form-input" required id="{{form.phone.id_for_label}}" type="{{form.phone.widget_type}}" name="{{form.phone.name}}" value="{{form.phone.initial}}"/>
                    {% endif %}
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="{{form.email.id_for_label}}">E-mail
                    </label>
                    {% if form.email.data != None %}
                    <input class="form-input" required id="{{form.email.id_for_label}}" type="{{form.email.widget_type}}" name="{{form.email.name}}" value="{{form.email.data}}"/>
                    {% else %}
                    <input class="form-input" required id="{{form.email.id_for_label}}" type="{{form.email.widget_type}}" name="{{form.email.name}}" value="{{form.email.initial}}"/>
                    {% endif %}
                    <div class="form-error">val</div>
                  </div>
                </div>
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step2">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 2. Способ доставки
                </h2>
              </header>
              <div class="form-group">
                <div>
                  <label class="toggle">
                    <input required id="id_delivery_type_0" type="{{form.fields.delivery_type.widget.input_type}}" name="{{form.delivery_type.name}}" value="{{form.fields.delivery_type.choices.0.0}}" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">{{form.fields.delivery_type.choices.0.1}}</span>
                  </label>
                </div>
                <div>
                  <label class="toggle">
                    <input required id="id_delivery_type_1" type="{{form.fields.delivery_type.widget.input_type}}" name="{{form.delivery_type.name}}" value="{{form.fields.delivery_type.choices.1.0}}"/><span class="toggle-box"></span><span class="toggle-text">{{form.fields.delivery_type.choices.1.1}}</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="{{form.town.id_for_label}}">Город
                </label>
                {% if form.town.data != None %}
                <input class="form-input" required id="{{form.town.id_for_label}}" type="{{form.town.widget_type}}" name="{{form.town.name}}" value="{{form.town.data}}"/>
                {% else %}
                <input class="form-input" required id="{{form.town.id_for_label}}" type="{{form.town.widget_type}}" name="{{form.town.name}}" value="{{form.town.initial}}"/>
                {% endif %}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{form.address.id_for_label}}">Адрес
                </label>
                {% if form.town.data != None %}
                <input class="form-input" required id="{{form.address.id_for_label}}" type="{{form.address.widget_type}}" name="{{form.address.name}}" value="{{form.address.data}}"/>
                {% else %}
                <input class="form-input" required id="{{form.address.id_for_label}}" type="{{form.address.widget_type}}" name="{{form.address.name}}" value="{{form.address.initial}}"/>
                {% endif %}
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step3">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step3">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 3. Способ оплаты
                </h2>
              </header>
              <div class="form-group">
                <div>
                  <label class="toggle">
                    <input required id="id_payment_type_0" type="{{form.fields.payment_type.widget.input_type}}" name="{{form.payment_type.name}}" value="{{form.fields.payment_type.choices.0.0}}" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">{{form.fields.payment_type.choices.0.1}}</span>
                  </label>
                </div>
                <div>
                  <label class="toggle">
                    <input required id="id_payment_type_1" type="{{form.fields.payment_type.widget.input_type}}" name="{{form.payment_type.name}}" value="{{form.fields.payment_type.choices.1.0}}"/><span class="toggle-box"></span><span class="toggle-text">{{form.fields.payment_type.choices.1.1}}</span>
                  </label>
                </div>
              </div>
              <div class="Cart-block">
                  <button class="btn btn_success" type="submit" name="check_data">Дальше
                  </button>
              </div>
            </div>
            {% if is_ok %}
            <div class="Order-block Order-block_OPEN" id="step4">
            {% else %}
            <div class="Order-block" id="step4">
            {% endif %}
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 4. Подтверждение заказа
                </h2>
              </header>
              <!--+div.Order.-confirmation-->
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">ФИО:
                        </div>
                        <div class="Order-infoContent">{{form.cleaned_data.full_name}}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Телефон:
                        </div>
                        <div class="Order-infoContent">{{form.cleaned_data.phone}}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">E-mail:
                        </div>
                        <div class="Order-infoContent">{{form.cleaned_data.email}}
                        </div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">Тип доставки:
                        </div>
                        {% if form.cleaned_data.delivery_type == form.fields.delivery_type.choices.0.0%}
                        <div class="Order-infoContent">{{form.fields.delivery_type.choices.0.1}}
                        {% else %}
                        <div class="Order-infoContent">{{form.fields.delivery_type.choices.1.1}}
                        {% endif %}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Город:
                        </div>
                        <div class="Order-infoContent">{{form.cleaned_data.town}}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Адрес:
                        </div>
                        <div class="Order-infoContent">{{form.cleaned_data.address}}
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">Оплата:
                        </div>
                        {% if form.cleaned_data.payment_type == form.fields.payment_type.choices.0.0%}
                        <div class="Order-infoContent">{{form.fields.payment_type.choices.0.1}}
                        {% else %}
                        <div class="Order-infoContent">{{form.fields.payment_type.choices.1.1}}
                        {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Cart Cart_order">
                  {% for product in basket_items %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{% static 'shop_cite/' %}{{product.img_src}}" alt="card.jpg"/></a>
                      </div>
                      <div class="Cart-block Cart-block_info"><a class="Cart-title" href="/product/{{product.id}}">{{product.name}}</a>
                        <div class="Cart-desc">{{product.description}}
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        <div class="Cart-price">{{product.price|floatformat:0}}₽
                        </div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">{{product.amount}}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">Итого:
                      </strong><span class="Cart-price">{{basket_total_price|floatformat:0}} ₽</span>
                    </div>
                    <div class="Cart-block">
                      <button class="btn btn_primary btn_lg" type="submit" name="save_data">Оплатить
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

 {% include 'shop_cite/footer.html' %}

  <!--+Middle-->
  <!--    +div.-top-->
  <!--        +breadcrumbs('Главная','Портфолио')-->
  <!--    +Article('portfolio')-->
  <!---->
  <script src="{% static 'shop_cite/assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/js/scripts.js' %}"></script>
</body></html>