{% load static %}

<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->

{% include 'shop_cite/head_element.html' %}

<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  {% include 'shop_cite/header.html' %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Заказ №{{order.id}}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item"><a href="/history">История заказов</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Заказ №{{order.id}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders">
          </div>
          <div class="Order">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info Order-info_date">
                      <div class="Order-infoType">Дата заказа:
                      </div>
                      <div class="Order-infoContent">{{order.purchase_date}}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">ФИО:
                      </div>
                      <div class="Order-infoContent">{{user_profile.full_name}}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Телефон:
                      </div>
                      <div class="Order-infoContent">{{user_profile.phone}}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">E-mail:
                      </div>
                      <div class="Order-infoContent">{{user_profile.user.username}}
                      </div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">Тип доставки:
                      </div>
                      <div class="Order-infoContent">{{order.delivery_type}}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Город:
                      </div>
                      <div class="Order-infoContent">{{user_profile.town}}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Адрес:
                      </div>
                      <div class="Order-infoContent">{{user_profile.address}}
                      </div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">Оплата:
                      </div>
                      <div class="Order-infoContent">{{order.payment_method}}
                      </div>
                    </div>
                    <div class="Order-info Order-info_status">
                      <div class="Order-infoType">Статус:
                      </div>
                      {% if order.payment_state == "О" %}
                      <div class="Order-infoContent">Оплачен
                      </div>
                      {% else %}
                      <div class="Order-infoContent">Оплата не выполнена
                      </div>
                      {% endif %}
                    </div>

                  </div>
                </div>
              </div>
              <div class="Cart Cart_order">
                {% for product in purchased_products %}
                <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="/product/{{product.product.id}}"><img class="Cart-img" src="{% static 'shop_cite/' %}{{product.product.add1_image_src}}" alt="card.jpg"/></a>
                    </div>
                    <div class="Cart-block Cart-block_info"><a class="Cart-title" href="/product/{{product.product.id}}">{{product.product.name}}</a>
                      <div class="Cart-desc">{{product.product.description}}
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price">{{product.price|floatformat:0}}₽
                      </div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                  
                    <div class="Cart-block Cart-block_amount">{{product.amount}} шт.
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">Итого:<span class="Cart-price">{{order.total_sum|floatformat:0}} ₽</span>
                    </strong>
                  </div>
                  <!--
                  {% if order.payment_state != "О" %}
                  <div class="Cart-block"><a class="btn btn_primary btn_lg" href="#">Оплатить</a>
                  </div>
                  {% else %}
                  <div class="Cart-block"><a class="btn btn_primary btn_lg" href="#">Повторить заказ</a>
                  </div>
                  {% endif %}
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 {% include 'shop_cite/footer.html' %}

  <!--+Middle-->
  <!--    +div.-top-->
  <!--        +breadcrumbs('Главная','Портфолио')-->
  <!--    +Article('portfolio')-->
  <!---->
  <script src="{% static 'shop_cite/assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'shop_cite/assets/js/scripts.js' %}"></script>
</body></html>